@model OnlineToyStore.Core.Models.Order
@{
    ViewData["Title"] = "Home Page";
}



<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAsync">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zipcode" class="control-label"></label>
                <input asp-for="Zipcode" class="form-control" />
                <span asp-validation-for="Zipcode" class="text-danger"></span>
            </div>

        <div class="form-group">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.LineItems.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.LineItems[i].Id)
                        </td>
                        <td>
                            @Html.HiddenFor(model => model.LineItems[i].ProductId)
                            @Html.DisplayFor(model => model.LineItems[i].Product.Name)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.LineItems[i].Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.LineItems[i].Product.UnitPrice)
                        </td>
                    </tr>
                }
                </tbody>
            </table>

        </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

