@model OnlineToyStore.Core.Models.Order
@{
    ViewData["Title"] = "OrderSubmitted";
}

<h2>OrderSubmitted</h2>
<div>
    <p>Your order was successfully submitted. </p>
</div>
<div>
    <h3>Order Details</h3>
    <div>
        @Html.LabelFor(x => x.Id)
        @Html.DisplayFor(x => x.Id)
    </div>
    <div>
        @Html.LabelFor(x => x.OrderDate)
        @Model.OrderDate.ToLocalTime().ToString("MM/dd/yyyy hh:mm tt")
    </div>
    <div>
        @Html.ActionLink("Continue Shopping", "Index", "Home", new { @class = "btn btn-success" })
    </div>

</div>
